:root {
  font-size: 10px; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  background-color: #fff; }

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  max-width: 1000px; }

.main-page {
  padding: 15px 0px;
  padding-bottom: 0px; }

.header {
  background: #0c6c04;
  padding: 10px 0px; }

.red {
  color: #b71c1c; }

.logo {
  max-width: 120px;
  margin: auto; }

.title {
  margin: 0px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 2px dashed #6b1d5c;
  border-radius: 5px; }
.title h1 {
  margin: 0;
  font-weight: bold;
  color: #0c6c04; }
.title-line {
  border: 0px; }
.title-line h1 {
  position: relative;
  padding-bottom: 15px; }
.title-line h1:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background: #b71c1c;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.product-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem; }
.product-price {
  font-size: 2.2rem;
  font-weight: 700;
  color: red; }
.product-text {
  line-height: 1.2; }

@media screen and (max-width: 768px) {
  .product-title {
    margin-top: 1.5rem; } }
.block {
  padding: 40px 0px; }

.bg-grey {
  background: #fafafa; }

.btn-order {
  background: #b71c1c;
  color: #fff;
  margin: 15px 0px;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
.btn-order:hover {
  text-decoration: none;
  color: #fff;
  background: #5f0e0e; }

.text-content p {
  max-width: 780px;
  margin: auto;
  margin-bottom: 1.5rem; }
.text-content p img {
  max-width: 500px; }
.text-content i {
  margin: 1rem;
  font-size: 1.4rem; }

@media screen and (max-width: 500px) {
  .text-content p img {
    max-width: 100%; } }
.list li {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 15px; }
.list i.fa {
  color: #0c6c04;
  font-size: 2.2rem;
  margin-right: 8px; }

.footer {
  background: #eaeaea;
  padding: 30px 0px; }
.footer-logo {
  width: 100%;
  margin: 15px 0px; }
.footer-logo a {
  display: block;
  margin: auto; }
.footer-logo img {
  max-width: 120px;
  margin: auto; }
