// color
$color-green:		#0c6c04;
$color-pink: 		#eab7f0;
$color-dark-pink:	#6b1d5c;
$color-red:			rgba(183,28,28,1);

// body base config
$body-background:		#fff;
$base-font-size:		1.6rem;
$base-line-height:		1.4;
$base-font-weight:		normal;
$base-font-family:		'Roboto', sans-serif;
$base-color:			#333;

// header
$header-bg:		#0c6c04;

$border-dashed: 	#6b1d5c;